@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Times+New+Roman');
@import url('https://fonts.googleapis.com/css?family=Aldrich');

body {
	border: 15px solid rgb(0, 0, 0);
  background: url(BackGlass.jpg);
  background-repeat: repeat;
  background-size: fill;
  background-attachment: fixed;
  font-family: Aldrich, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgb(100, 200, 100);
  color: white;
  padding: 15px;
}

main {
  padding: 20px;
}

h1, h2, h3 {
  color: rgb(0, 0, 0);
}

img {
  width: 450px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
	font-family: bebas neue;
	font-size: 100px;
}

h2 {
	font-size: 50px;
	
}

P {
	font-size: 25px;
	font-family: Aldrich;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	margin: 0px;
}
a {
	color: rgb(255, 255, 255);
	font-family: Aldrich;
}
span {
	text-align: left;
	float: left;
}